<div class="container" style="width: 100%">
    <h1 class="page-header">Overview <small>Lorem ipsum dolor sit amet</small></h1>

    <div class="well">
        <h1>Welcome</h1>
        <p>
            Quis est, qui non oderit libidinosam, protervam adolescentiam?
            Ratio quidem vestra sic cogit. Cum id fugiunt, re eadem defendunt,
            quae Peripatetici, verba. Qua tu etiam inprudens utebare non numquam.
            Omnis enim est natura diligens sui.
        </p>
        <button type="button" class="btn btn-primary">Learn more</button>
    </div>
</div>
