<div class="container" style="width: 100%">
    <div class="row">
        <div class="col-md-4" ng-if="showEditForm">
            <form class="form-horizontal" ng-submit="editProduct(product)">
                <div class="form-group">
                    <label class="control-label col-md-4">Title</label>
                    <div class="col-md-8">
                        <input type="text" ng-model="product.title" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Framework</label>
                    <div class="col-md-8">
                        <input type="text" ng-model="product.framework" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Category</label>
                    <div class="col-md-8">
                        <select class="form-control" ng-model="product.category.name">
                            <option ng-repeat="category in categoryList" ng-value="{{category.name}}">{{category.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Image</label>
                    <div class="col-md-8">
                        <input type="file" ngf-select ngf-pattern="'image/*'" ng-model="product.imgUrl" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save Change" class="btn btn-primary btn-xs">
                </div>
            </form>
        </div>
        <div class="col-md-4" ng-if="!showEditForm">
            <table class="table">
                <tr>
                    <th>Title</th>
                    <td>{{ product.title }}</td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td>{{ product.category.name }}</td>
                </tr>
                <tr>
                    <th>Framework</th>
                    <td>{{ product.framework }}</td>
                </tr>
                <tr>
                    <th>Popularity</th>
                    <td>{{ product.popularity }}</td>
                </tr>
                <tr>
                    <th>Date Added</th>
                    <td>{{ product.dateAdded | date:'short' }}</td>
                </tr>
                <tr>
                    <th>Preview</th>
                    <td><a href="www.example.com">Preview</a></td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <img ng-src="/img/{{product.imgUrl}}" class="img-responsive"/>
        </div>
    </div>
    <button type="button" class="btn btn-xs btn-success" ng-click="toggleForm()" ng-show="!showEditForm">Edit</button>
    <button type="button" class="btn btn-xs btn-warning" ng-click="toggleForm()" ng-show="showEditForm">Back</button>
</div>
