<div class="container" style="width: 100%">
    <div class="row">
        <div class="col-md-8" ng-if="showEditForm">
            <div class="alert alert-dismissible alert-info" style="width: 600px;">
                <p>Image must have Min/Max Width: 1349px; Min Height: 900px; Max Height: 6000px</p>
            </div>
            <form class="form-horizontal" ng-submit="editProduct(formInput)">
                <div class="form-group">
                    <label class="control-label col-md-2">Title</label>
                    <div class="col-md-8">
                        <input type="text" ng-model="formInput.title" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Framework</label>
                    <div class="col-md-8">
                        <input type="text" ng-model="formInput.framework" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Category</label>
                    <div class="col-md-8">
                        <select class="form-control" ng-model="formInput.category.name">
                            <option ng-repeat="category in categoryList" ng-value="{{category.name}}">{{category.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Date Added</label>
                    <div class="col-md-8">
                        <input type="date" ng-model="formInput.dateAdded" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">With Domain Url</label>
                    <div class="col-md-8">
                        <input type="text" ng-model="formInput.buyDomainUrl.withDomainUrl" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Without Domain Url</label>
                    <div class="col-md-8">
                        <input type="text" ng-model="formInput.buyDomainUrl.withoutDomainUrl" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Image</label>
                    <div class="col-md-8">
                        <input type="file" ngf-select ngf-pattern="'image/*'" ng-model="formInput.imgUrl" class="form-control">
                        <!-- <input type="file" ngf-select ngf-pattern="'image/*'" ng-model="formInput.imgUrl"
                        class="form-control" ngf-accept="'image/*'" required
                        ngf-min-height="900" ngf-max-height="6000"
                        ngf-min-width="1349" ngf-max-width="1349"> -->
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Preview Url</label>
                    <div class="col-md-8">
                        <input type="text" ng-model="formInput.previewUrl" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Popularity</label>
                    <div class="col-md-8">
                        <select class="form-control" ng-model="formInput.popularity" ng-options="popularity for popularity in popularities"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-xs btn-default">Cancel</button>
                        <button type="submit" class="btn btn-xs btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8" ng-if="!showEditForm">
            <table class="table">
                <tr>
                    <th>Title</th>
                    <td>{{ product.title }}</td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td>{{ product.category.name }}</td>
                </tr>
                <tr>
                    <th>Framework</th>
                    <td>{{ product.framework }}</td>
                </tr>
                <tr>
                    <th>Popularity</th>
                    <td>{{ product.popularity }}</td>
                </tr>
                <tr>
                    <th>Date Added</th>
                    <td>{{ product.dateAdded | date:'dd/MM/yyyy' }}</td>
                </tr>
                <tr>
                    <th>Without Domain Url</th>
                    <td>{{ product.buyDomainUrl.withDomainUrl }}</td>
                </tr>
                <tr>
                    <th>With Domain Url</th>
                    <td>{{ product.buyDomainUrl.withoutDomainUrl }}</td>
                </tr>
                <tr>
                    <th>Preview</th>
                    <td><a ng-href="{{product.previewUrl}}">{{ product.previewUrl }}</a></td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <img ng-src="/img/{{product.imgUrl}}" class="img-responsive"/>
        </div>
    </div>
    <button type="button" class="btn btn-xs btn-success" ng-click="toggleForm()" ng-show="!showEditForm">Edit</button>
    <button type="button" class="btn btn-xs btn-warning" ng-click="toggleForm()" ng-show="showEditForm">Back</button>
</div>
