<h4 class="md-primary">Login</h4>
<hr/>

<div layout="column" class="md-inline-form">
    <form ng-submit="login(credentials)">
        <md-content layout-gt-sm="row" layout-padding>
            <div>
                <md-input-container>
                    <label>Username</label>
                    <input ng-model="credentials.username">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input ng-model="credentials.password" type="email">
                </md-input-container>
                <md-button class="md-raised md-primary" type="submit">Login</md-button>
            </div>
        </md-content>
    </form>
</div>
